---
layout: index
title: Home
permalink: /
---
<div class="grey-bg">
    <div class="container">
        <div class="row">
            <h2>&mdash; Projects &mdash;</h2>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>
<div id="project-carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#project-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#project-carousel" data-slide-to="1"></li>
	    <li data-target="#project-carousel" data-slide-to="2"></li>
        <li data-target="#project-carousel" data-slide-to="3"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for project in site.categories['project'] limit:4 %}

		<div class="item {% if forloop.first == true %}active{% endif %}">
            <div class="container">
                <div class="container-full">
                    <a href="{{project.url}}">
                        <div class="row">
                            <div class="col-sm-8 project-img" style="background-image: url('/assets/img/project/{{ | prepend: site.baseurl }}{{ project.img }}');">

                            </div>
                            <div class="col-sm-4">
                                <div class="container-fluid">
                                    <h2>{{project.title}}</h2>
                                    <p class="lead">
                                    {{project.description}}
                                    </p>
                                    <a target="_blank" class="btn btn-outline btn-theme" href="{{project.website}}"><i class="fa fa-link"></i> Visit</a>
                                    <a class="btn btn-outline btn-theme" href="{{project.url}}"><i class="fa fa-info-circle"></i> About</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
		{% endfor %}
	</div>
    <a class="left carousel-control" href="#project-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#project-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% include portfolio.html limit=10 %}

<div class="grey-bg">
    <div class="container">
        <div class="row">
            <h2>&mdash; Blog &mdash;</h2>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>
<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8 col-lg-offset-2">

            {% for post in site.categories['blog'] %}
                <! -- Blog Post -->
                <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}"></p>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->